.signup-form {
  max-width: 500px;
}

.bg-purple {
  background: purple !important;
  color: #fff !important;
}

.w-256 {
  width: 256px !important;
}

// Side nav
.sidenav {
  height: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 2.5em;
  width: 0;
  transition: 0.5s ease-in-out;
  box-sizing: content-box;

  .close-btn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99999;
  }

  .sidenav-wrapper {
    // width: 70vw;
  }
}

// Sidenav dashboard
// Side nav
.sidenav2 {
  height: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 2.5em;
  transition: 0.5s ease-in-out;
  box-sizing: content-box;

  @media (max-width: 768px) {
    width: 0px !important;
  }

  .close-btn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99999;
  }

  .sidenav-wrapper {
    width: 250px !important;
  }
}

.sidenav-width {
  width: 256px !important;

  @media (max-width: 768px) {
    width: 0 !important;
  }
}

.admin-layout {
  .main-section {
    margin-left: 256px;

    @media (max-width: 768px) {
      margin-left: 0;
    }
  }
}
